body {
  margin: 0px;
  background-color: #ECF4FE;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A4C6EB;
}

h1 {
  color: #ecf4fe;
}

header span {
  color: #7B92AA;
}

section {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  width: 50%;
  margin: 20px;
}

.main,
.persegi p,
.container_icon {
  text-align: center;
  align-self: center;
}

.persegi {
  background-color: #3466aa;
  color: white;
  border-radius: 2px;
}

.luas,
.keliling {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #114084;
  border-radius: 8px;
}

.luas_content,
.keliling_content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  background-color: #114084;
  border-radius: 5px 5px 0px 0px;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_icon {
  font-weight: bold;
}

.top,
.bottom {
  display: flex;
  justify-content: space-around;
  width: 280px;
}

.gambar {
  border: 2px solid red;
  height: 100px;
  width: 100px;
}

.formula {
  align-self: center;
}

.perhitungan_luas,
.perhitungan_keliling {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #808080;
  padding: 0px 20px 0px 20px;
}

input {
  flex-grow: 1;
  height: 30px;
  border: 1px solid #114084;
  border-radius: 3px;
}

button {
  width: 80px;
  height: 30px;
  color: white;
  border: 0;
  border-radius: 3px;
}

.hitung {
  margin: 10px;
  background-color: #114084;
  align-self: center;
}

.reset {
  background-color: orange;
  align-self: flex-end;
  margin: 10px;
}

.perhitungan_luas h1,
.perhitungan_keliling h1 {
  color: black;
}

.katik_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  section {
    width: auto;
  }
}
